body.dark {
  color: white;
  background-color: black;
}

.header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  height: 60px;
}

.header__logo {
  height: 40px;
  pointer-events: none;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  justify-content: center;
  text-align: center;
}

.content__section {
  margin-bottom: 20px;
}

.content__section img {
  width: 100%;
}

.color {
  display: inline-block;
  margin: 5px;
  background-size: auto 100%;
  transition: transform 0.1s ease-in;
  border-radius: 4px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  width: 90px;
  height: 90px;
}

.selected svg {
  display: block;
  width: 40px;
  margin: 22px auto;
}

.dark svg {
  fill: #fff;
}

.selected.color {
  border: 3px solid #c00;
  margin: 2px;
}

.loader__spinner {
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.menu {
  position: absolute;
  top: 17px;
  right: 15px;
}

.menu-content {
  position: absolute;
  width: 100%;
  background-color: #282c34;
  padding: 20px 0;
  z-index: 1;
}

.menu-content a,
.menu-content a:visited {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu-content li {
  padding: 5px 20px;
  list-style: none;
}

.link-cta {
  width: 80%;
  background-color: #900;
  padding: 14px;
  margin: 20px;
}

.link-cta a,
.link-cta a:visited {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.not-found-heading {
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 959px) {
  .content {
    height: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: spin infinite 20s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
